#logo {
  margin-left: 5rem;
}

#header {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav {
  display: flex;
  flex-direction: row;
  margin-right: 5rem;
}

#link {
  padding-top: 1rem;
  margin-left: 5rem;
}
