@font-face {
  font-family: mc_reg;
  src: url(fonts/minecraft_reg.woff);
}

#header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

li:hover {
  text-decoration: underline;
}

#logo {
  text-align: center;
  height: 5rem;
  transform: translateY(29%);
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  font-family: mc_reg;
}

#link {
  color: #f5f5f5;
  list-style: none;
  padding: 0.5rem;
}

.header {
  background-image: url(images/bg-wool-dark.png);
}

@media screen and (min-width: 880px) {
  #logo {
    margin-left: 5rem;
    transform: none;
  }

  #header {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav {
    display: flex;
    flex-direction: row;
    margin-right: 5rem;
  }

  #link {
    padding-top: 1rem;
    margin-left: 5rem;
  }
}
