@font-face {
  font-family: mc_reg;
  src: url(fonts/minecraft_reg.woff);
}

@font-face {
  font-family: mc_old;
  src: url(fonts/minecraft_alt.woff);
}

#header {
  z-index: 1000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

li:hover {
  text-decoration: underline;
}

#logo {
  text-align: center;
  height: 5rem;
  transform: translateY(29%);
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  color: #f7f7f7;
  background-image: url(images/wall.png);
  font-family: Arial, Helvetica, sans-serif;
}

#link {
  font-family: mc_reg;
  color: #f7f7f7;
  list-style: none;
  padding: 0.5rem;
}

.header {
  background-image: url(images/bg-wool-dark.png);
}

.wrapper {
  height: 9.4rem;
}

.home {
  width: 100%;
  max-height: 39rem;
  background-color: black;
}

#home {
}

.home_img {
  max-height: 38rem;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: mc_old;
  text-align: center;
  padding: 2rem;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
  margin: 1rem;
}

#intro {
  padding-bottom: 1rem;
}

.useful_links {
  font-size: 1.7rem;
}

.community {
  display: inline;
  text-align: center;
  list-style: none;
  color: #efe561;
  font-size: 1.2rem;
}

@media screen and (min-width: 880px) {
  #logo {
    margin-left: 5rem;
    transform: none;
  }

  #header {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav {
    display: flex;
    flex-direction: row;
    margin-right: 5rem;
  }

  #link {
    padding-top: 1rem;
    margin-left: 5rem;
  }

  .wrapper {
    height: 7.3rem;
  }
}
