@font-face {
  font-family: mc_reg;
  src: url(fonts/minecraft_reg.woff);
}

#logo {
  height: 5rem;
  margin-left: 5rem;
}

#link {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.header {
  background-image: url(images/bg-wool-dark.png);
}

#header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav {
  display: flex;
  flex-direction: row;
  margin-right: 5rem;
}

#link {
  color: #f5f5f5;
  padding-top: 1rem;
  margin-left: 5rem;
}

body {
  font-family: mc_reg;
}

li:hover {
  text-decoration: underline;
  color: greenyellow;
}

@media screen and (min-width: 880px) {
}
